html {
    font-family: "Open Sans", verdana, arial, sans-serif;
}

h3 {
    padding-left: 10px;
}

table {
    padding: 10px;
}

thead {
    text-transform: capitalize;
}

th, td {
    padding: 10px;
    margin: 4px;
    border: 1px dotted #999999;
}
