html {
    font-family: "Open Sans", verdana, arial, sans-serif;
}

h3 {
    padding-left: 100px;
}

table {
    padding-left: 100px;
}

thead {
    text-transform: capitalize;
}

td {
    padding: 10px;
    margin: 4px;
}
